body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.swal2-confirm {
  background-color: #007bff !important; /* Azul */
  border-color: #007bff !important;
}

.swal2-confirm:hover {
  background-color: #0056b3 !important; /* Azul oscuro al pasar el cursor */
  border-color: #0056b3 !important;
}
